image: node:14.14.0-alpine3.12
before_script:
  - 'echo \dbconfig\ = \"$test_db_instance\">> .env.test'
  - 'echo \pojogenurl\ = \"$test_pojogen_url\">> .env.test'
  - 'echo \dbpasskey\ = \"$test_db_passkey\">> .env.test'
  - 'echo \storedprocenv\ = \"$test_storedprocenv\">> .env.test'
  - 'echo \javacodegen_server_url\ = \"$test_javacodegen_url\">> .env.test'
  - cat .env.test
  - 'echo \dbconfig\ = \"$stage_db_instance\">> .env.stage'
  - 'echo \pojogenurl\ = \"$stage_pojogen_url\">> .env.stage'
  - 'echo \dbpasskey\ = \"$stage_db_passkey\">> .env.stage'
  - 'echo \storedprocenv\ = \"$stage_storedprocenv\">> .env.stage'
  - 'echo \javacodegen_server_url\ = \"$stage_javacodegen_url\">> .env.stage'
  - cat .env.stage
  - 'echo \dbconfig\ = \"$prod_db_instance\">> .env.prod'
  - 'echo \pojogenurl\ = \"$prod_pojogen_url\">> .env.prod'
  - 'echo \dbpasskey\ = \"$prod_db_passkey\">> .env.prod'
  - 'echo \storedprocenv\ = \"$prod_storedprocenv\">> .env.prod'
  - 'echo \javacodegen_server_url\ = \"$prod_javacodegen_url\">> .env.prod'
  - cat .env.prod
include:
  project: 'ezapi_poc/infra_poc'
  file: 
    - 'sast-whitesource-python.yaml'
    - 'buildpython.yml'
    - 'deploy-python-refactoredv3.yaml'
    - 'deploy-python-devinstance-stage.yaml'
    - 'deploy-python-demo-master.yaml'
stages:
  #- whitesource-test
  - build
  - deploy-test
  - deploy-stage
  - deploy-master
#whitesource-test:
#  stage: whitesource-test
#  image: ubuntu:20.04
#  extends: .sast-whitesource
#  only:
#    - refactoredv3
build:
  stage: build
  extends: .build
deploy-test:
  stage: deploy-test
  image: alpine 
  extends: .deploy-refactoredv3
  only: 
    - refactoredv3
deploy-stage:
  stage: deploy-stage
  image: alpine 
  extends: .deploy-python-devinstance-stage
  only: 
    - master
deploy-master:
  stage: deploy-master
  image: alpine 
  extends: .deploy-python-demo-master
  only: 
    - stage
