image: node:14.14.0-alpine3.12
include:
  project: 'ezapi_poc/infra_poc'
  file: 
    - 'sast-whitesource-python.yaml'
    - 'buildpython.yml'
    - 'deploy-python-refactoredv3.yaml'
    - 'deploy-python-devinstance-stage.yaml'
stages:
  - whitesource-test
  - build
  - deploy-test
  - deploy-stage
whitesource-test:
  stage: whitesource-test
  image: ubuntu:20.04
  extends: .sast-whitesource  
build:
  stage: build
  extends: .build
deploy-test:
  stage: deploy-test
  image: alpine 
  extends: .deploy-refactoredv3
  only: 
    - refactoredv3
deploy-stage:
  stage: deploy-stage
  image: alpine 
  extends: .deploy-python-devinstance-stage
  only: 
    - stage
